Global styles
body {
  background-color: #021f0a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: #e9880a;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
  }
  
  header h1 {
    color: #132904;
    margin: 0;
    font-size: 34px;
  }

  /* Navigation styles */
  nav {
    text-align: center;
    position: fixed;
    top: 70px; 
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #b38eb4;
    color: black;
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    height: 0px;
  }

  nav ul li {
    margin-right: 50px;
    display: inline;
  }

  nav ul li a {
    color: #132904;
    text-decoration: none;
    padding: 10px;
  }
  nav ul li a:hoover{
    background-color: #b38eb4;
  }     
  /* Section styles */
  section {
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  h1, h2 {
    color: #132904;
    font-size: 2em;
    text-align: center;
  }
  h3{
    font-size: 1.5em;
    text-align: center;
  }
  .cta-button {
    display: inline-block;
    background-color: #b38eb4;
    color: #132904;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .cta-button:hover {
    background-color: #b7ecf5;
  }
  
  /* Job Listings styles */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    background-color: #ece7e7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(14, 199, 14, 0.1);
  }
  #vehicles{
    padding: 12px;
    width: 28em;
  }
  li:hover{
    background-color: #d9e4e6;
  }
  #job-listings{
    display: grid;
    grid-template-columns: repeat(2, 2fr);

  }
  
  a {
    background-color: #e7ebec;
    padding: 9px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(14, 199, 14, 0.1);
    color: #980f9c;
    text-decoration: none; 
  }
  a:hover{
    background-color: #add6d8;
  }

  /* Driver Profiles styles */
#driver-profiles {
  background-color: #f5f5f5;
  text-align: center;
}

#driver-profiles h2 {
  color: #132904;
  font-size: 2em;
  /* margin-bottom: 20px; */
}

.profile {
  display: inline-block;
  padding: 50px;
  margin: 24px;
  background-color: #ece7e7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(14, 199, 14, 0.1);
  text-align: center;
}

.profile img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.profile h3 {
  color: #132904;
  font-size: 1.5em;
  margin-top: 10px;
}

.profile p {
  margin: 5px;
}

.profile a {
  display: inline-block;
  background-color: #b38eb4;
  color: #132904;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.profile a:hover {
  background-color: #b7ecf5;
}
  /* Contact form styles */
  form {
    width: 600px;
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #8f8d8d;
    background-color: #f5f5f5;
  }
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button {
    background-color: #b38eb4;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #add6d8;
  }
  

  /* Footer styles */
  footer {
    background-color: #add6d8;
    color: #132904;
    padding: 20px;
    text-align: center;
  }
  

  